html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', 'monospace';
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

body:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	background-image: linear-gradient(45deg, rgba(0,0,0,0.102) 43%, rgba(237,161,14,0.302) 100%), url('images/bg.jpg');
	background-position: 0% 0%, center;
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
	background-attachment: scroll;
	background-color: #000000;
}

body:after {
	display: block;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-moz-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-webkit-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-ms-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 2.25rem 0 2.25rem 0;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	background-color: rgba(13,13,13,0.902);
	box-shadow: 0rem 0rem 2.125rem 0.25rem rgba(0,0,0,0.678);
	-moz-transition: opacity 1.875s ease 0s,-moz-transform 1.875s ease 0s;
	-webkit-transition: opacity 1.875s ease 0s,-webkit-transform 1.875s ease 0s;
	-ms-transition: opacity 1.875s ease 0s,-ms-transform 1.875s ease 0s;
	transition: opacity 1.875s ease 0s,transform 1.875s ease 0s;
	-moz-transform: perspective(1000px) rotateX(0deg);
	-webkit-transform: perspective(1000px) rotateX(0deg);
	-ms-transform: perspective(1000px) rotateX(0deg);
	transform: perspective(1000px) rotateX(0deg);
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3rem 0rem;
	max-width: 100%;
	width: 93rem;
}

#main > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	-moz-transition: opacity 0.75s ease-in-out 0.625s;
	-webkit-transition: opacity 0.75s ease-in-out 0.625s;
	-ms-transition: opacity 0.75s ease-in-out 0.625s;
	transition: opacity 0.75s ease-in-out 0.625s;
}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: calc(100% + 0rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

body.is-loading #main {
	opacity: 0;
	-moz-transform: perspective(1000px) rotateX(-15deg);
	-webkit-transform: perspective(1000px) rotateX(-15deg);
	-ms-transform: perspective(1000px) rotateX(-15deg);
	transform: perspective(1000px) rotateX(-15deg);
}

body.is-loading #main > .inner > * {
	opacity: 0;
}

#main > .inner > :nth-child(2) {
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
}

#main > .inner > :nth-child(3) {
	-moz-transition-delay: 0.875s;
	-webkit-transition-delay: 0.875s;
	-ms-transition-delay: 0.875s;
	transition-delay: 0.875s;
}

#main > .inner > :nth-child(4) {
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}

#main > .inner > :nth-child(5) {
	-moz-transition-delay: 1.125s;
	-webkit-transition-delay: 1.125s;
	-ms-transition-delay: 1.125s;
	transition-delay: 1.125s;
}

#main > .inner > :nth-child(6) {
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
}

hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}

hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

#divider03 {
	height: 1.625rem;
	line-height: 1.625rem;
}

#divider03:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider01 {
	height: 1.625rem;
	line-height: 1.625rem;
}

#divider01:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider02 {
	height: 0.75rem;
	line-height: 0.75rem;
}

#divider02:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

#text01 br + br {
	margin-top: 0.9rem;
}

#text01 {
	color: #FFFFFF;
	font-family: 'Raleway', 'sans-serif';
	letter-spacing: 0.1rem;
	width: calc(100% + 0.1rem);
	font-size: 4.125em;
	line-height: 1.5;
	font-weight: 900;
}

#text01 mark {
	background-color: transparent;
}

.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	vertical-align: middle;
}

#buttons03 {
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem;
}

#buttons03 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.75rem);
	margin: 0.375rem;
}

#buttons03 li a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 13.25rem;
	height: 3.25rem;
	line-height: 3.25rem;
	vertical-align: middle;
	padding: 0 1.625rem;
	font-size: 1em;
	font-family: 'Tajawal', 'sans-serif';
	letter-spacing: 0.025rem;
	padding-left: calc(0.025rem + 1.625rem);
	font-weight: 300;
	border-radius: 0rem;
}

#buttons03 .n01 {
	color: #FFFFFF;
	border: solid 1px rgba(255,255,255,0.251);
}

#buttons03 .n01:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

#buttons03 .n02 {
	color: #FFFFFF;
	border: solid 1px rgba(255,255,255,0.251);
}

#buttons03 .n02:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

#buttons03 .n03 {
	color: #FFFFFF;
	border: solid 1px rgba(255,255,255,0.251);
}

#buttons03 .n03:hover {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.links {
	cursor: default;
	padding: 0;
	line-height: 1.5;
}

.links li a {
	display: block;
}

#links01 {
	margin-left: -0.25rem;
	width: calc(100% + 0.6rem);
	text-transform: uppercase;
	font-family: 'Raleway', 'sans-serif';
	letter-spacing: 0.1rem;
	font-size: 0.625em;
	font-weight: 600;
}

#links01 li {
	display: inline-block;
	vertical-align: middle;
	margin: 0.25rem;
}

#links01 li a {
	color: rgba(128,128,128,0.612);
	text-decoration: none;
}

#links01 li a:hover {
	color: #FFFFFF;
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	#main > .inner {
		padding: 3rem 0rem;
	}
	
	#main > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -3rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#divider03 {
		height: 1.625rem;
		line-height: 1.625rem;
	}
	
	#divider01 {
		height: 1.625rem;
		line-height: 1.625rem;
	}
	
	#divider02 {
		height: 0.75rem;
		line-height: 0.75rem;
	}
	
	#text01 {
		font-size: 3.5em;
	}
}

@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	
	#buttons03 {
		margin-left: 0;
		width: 100%;
		padding: 0.375rem 0;
	}
	
	#buttons03 li {
		max-width: 100%;
		display: block;
		margin: 0.75rem 0;
	}
	
	#buttons03 li:first-child {
		margin-top: 0;
	}
	
	#buttons03 li:last-child {
		margin-bottom: 0;
	}
	
	#buttons03 li a {
		display: -moz-inline-flex;
		display: -webkit-inline-flex;
		display: -ms-inline-flex;
		display: inline-flex;
		width: 100%;
		max-width: 32rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		padding: 2.25rem 0rem;
	}
	
	#main > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#buttons03 {
		width: calc(100% + 0.5625rem);
		margin-left: -0.28125rem;
		width: 100%;
		margin-left: 0;
		padding: 0.28125rem 0;
	}
	
	#buttons03 li {
		max-width: calc(100% - 0.5625rem);
		margin: 0.28125rem;
		max-width: 100%;
		margin: 0.5625rem 0;
	}
	
	#links01 {
		margin-left: -0.1875rem;
		width: calc(100% + 0.475rem);
	}
	
	#links01 li {
		margin: 0.1875rem;
	}
}